# Pandas Series, DataFrame
Pandas more processes
data more easily than SQL.

In [2]:
import path
import pprint

import numpy as np
import pandas as pd
import sqlite3

dataset_path = r"D:\datasets\csv"
dataset_name = r"airports.csv"
dataset = dataset_path + "\\" + dataset_name
print(dataset)

D:\datasets\csv\airports.csv

In [3]:
df = pd.read_csv(dataset)
# df = pd.read_json(dataset)
# df = pd.read_excel(dataset)

# connection = sqlite3.connect(dataset)
# df = pd.read_sql_query(r"SELECT * FROM airport", connection)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

First records

In [ ]:
df.head()  # same -> df.head(5)

last records

In [39]:
df.tail()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
57126,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
57127,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
57128,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
57129,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"
57130,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN

In [4]:
df.columns

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords'],
      dtype='object')

In [5]:
print(df.shape)
print(df.ndim)
print(df.dtypes)

(57130, 18)
2
id                     int64
ident                 object
type                  object
name                  object
latitude_deg         float64
longitude_deg        float64
elevation_ft         float64
continent             object
iso_country           object
iso_region            object
municipality          object
scheduled_service     object
gps_code              object
iata_code             object
local_code            object
home_link             object
wikipedia_link        object
keywords              object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57130 entries, 0 to 57129
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57130 non-null  int64
 1   ident              57130 non-null  object
 2   type               57130 non-null  object
 3   name               57130 non-null  object
 4   latitude_deg       57130 non-null  float64
 5   longitude_deg      57130 non-null  float64
 6   elevation_ft       49320 non-null  float64
 7   continent          28710 non-null  object
 8   iso_country        56884 non-null  object
 9   iso_region         57130 non-null  object
 10  municipality       51246 non-null  object
 11  scheduled_service  57130 non-null  object
 12  gps_code           41322 non-null  object
 13  iata_code          9229 non-null   object
 14  local_code         29559 non-null  object
 15  home_link          3100 non-null   object
 16  wikipedia_link     10029 non-null  object
 17  keywords           10504 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 7.8+ MB

In [7]:
df.describe()

                  id  latitude_deg  longitude_deg  elevation_ft
count   57130.000000  57130.000000   57130.000000  49320.000000
mean    92701.573744     25.696515     -34.598165   1251.924818
std    127196.235995     27.219547      80.003492   1611.666233
min         2.000000    -90.000000    -179.876999  -1266.000000
25%     14410.250000      8.133008     -92.082676    207.000000
50%     28835.500000     36.292601     -71.559849    722.000000
75%     45727.750000     43.783300      14.661181   1510.000000
max    335222.000000     90.000000     179.975700  22000.000000

# Indexing
### indexing With only integer

In [8]:
df.iloc[100:105, :]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
100,6612,01NE,small_airport,Detour Airport,40.843601,-100.653000,3000.0,NaN,US,US-NE,Wellfleet,no,01NE,NaN,01NE,NaN,NaN,NaN
101,6613,01NH,small_airport,Moore Airfield,43.644500,-72.086998,835.0,NaN,US,US-NH,Canaan,no,01NH,NaN,01NH,NaN,NaN,Enfield
102,6614,01NJ,heliport,Albert Guido Memorial Heliport,40.741798,-74.137100,10.0,NaN,US,US-NJ,Newark,no,01NJ,NaN,01NJ,NaN,NaN,NaN
103,45537,01NM,small_airport,Champion Ranch Airport,33.008611,-104.540278,3630.0,NaN,US,US-NM,Artesia,no,01NM,NaN,01NM,NaN,NaN,NaN
104,6615,01NV,small_airport,Lantana Ranch Airport,38.763901,-119.027000,4600.0,NaN,US,US-NV,Yerington,no,01NV,NaN,01NV,NaN,NaN,NaN

### indexing With integer or string

In [9]:
df.loc[100:105, "ident":"name"]

    ident           type                            name
100  01NE  small_airport                  Detour Airport
101  01NH  small_airport                  Moore Airfield
102  01NJ       heliport  Albert Guido Memorial Heliport
103  01NM  small_airport          Champion Ranch Airport
104  01NV  small_airport           Lantana Ranch Airport
105  01NY         closed        Vassar Hospital Heliport

### change the dataframe

In [15]:
df.loc[100:105,"id"] = list(range(6))
df.loc[100:105, :]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
100,0,01NE,small_airport,Detour Airport,40.843601,-100.653000,3000.0,NaN,US,US-NE,Wellfleet,no,01NE,NaN,01NE,NaN,NaN,NaN
101,1,01NH,small_airport,Moore Airfield,43.644500,-72.086998,835.0,NaN,US,US-NH,Canaan,no,01NH,NaN,01NH,NaN,NaN,Enfield
102,2,01NJ,heliport,Albert Guido Memorial Heliport,40.741798,-74.137100,10.0,NaN,US,US-NJ,Newark,no,01NJ,NaN,01NJ,NaN,NaN,NaN
103,3,01NM,small_airport,Champion Ranch Airport,33.008611,-104.540278,3630.0,NaN,US,US-NM,Artesia,no,01NM,NaN,01NM,NaN,NaN,NaN
104,4,01NV,small_airport,Lantana Ranch Airport,38.763901,-119.027000,4600.0,NaN,US,US-NV,Yerington,no,01NV,NaN,01NV,NaN,NaN,NaN
105,5,01NY,closed,Vassar Hospital Heliport,41.694187,-73.935582,100.0,NaN,US,US-NY,Poughkeepsie,no,NaN,NaN,NaN,NaN,NaN,01NY

### iloc vs loc
iloc : inclusive indexing, doesn't include last index
loc : exclusive inclusive indexing, includes last index

### expand the dataframe

In [ ]:
df.loc[57130] = df.loc[0] + df.loc[1]

df

## remove from dataframe

### row remove

In [23]:
df.drop(2, axis=0)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
5,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57126,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
57127,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
57128,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
57129,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"
57130,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN

### coloumn remove

In [24]:
df.drop("ident", axis=1)
# df.drop("ident", axis=1, inplace=True)  # change original dataframe on it.
# inplace=False  # default

,id,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,329884,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN
3,6525,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57126,32753,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
57127,46378,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
57128,307326,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
57129,313629,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"
57130,329884,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN

In [27]:
# df not changed
df

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57126,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
57127,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
57128,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
57129,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"
57130,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN

### To numpy

In [29]:
df.to_numpy()

array([[6523, '00A', 'heliport', ..., nan, nan, nan],
       [323361, '00AA', 'small_airport', ..., nan, nan, nan],
       [329884, '00A00AA', 'heliportsmall_airport', ..., nan, nan, nan],
       ...,
       [307326, 'ZZ-0002', 'small_airport', ..., nan, nan, nan],
       [313629, 'ZZZZ', 'small_airport', ..., nan,
        'http://wikimapia.org/6705190/Satsuma-Iwo-jima-Airport',
        'SATSUMA,IWOJIMA,RJX7'],
       [329884, '00A00AA', 'heliportsmall_airport', ..., nan, nan, nan]],
      dtype=object)

### Transpose

In [ ]:
df.T

### Masking - basic filtring

In [37]:
# df > 6526  # there is not a greater than for between string and int.
mask1 = df["id"] > 6526
mask2 = df["id"] % 2 == 0  # even numbers
mask3 = df["type"] =="closed"
mask4 = mask1 | (mask2 & mask3)
print(mask1)
print(mask2)
print(mask3)
print(mask4)
df[mask4]

0        False
1         True
2         True
3        False
4        False
         ...
57126     True
57127     True
57128     True
57129     True
57130     True
Name: id, Length: 57131, dtype: bool
0        False
1        False
2         True
3        False
4         True
         ...
57126    False
57127     True
57128     True
57129    False
57130     True
Name: id, Length: 57131, dtype: bool
0        False
1        False
2        False
3        False
4         True
         ...
57126    False
57127    False
57128    False
57129    False
57130    False
Name: type, Length: 57131, dtype: bool
0        False
1         True
2         True
3        False
4         True
         ...
57126     True
57127     True
57128     True
57129     True
57130     True
Length: 57131, dtype: bool

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
5,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
6,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57126,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
57127,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
57128,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
57129,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"
57130,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN

#### second way
not common

In [38]:
query = "id>6526 | (id%2==0 & type=='closed') "
df.query(query)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
5,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
6,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57126,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,Shenyang,no,ZYYY,NaN,NaN,NaN,NaN,NaN
57127,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad
57128,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,no,NaN,NaN,NaN,NaN,NaN,NaN
57129,313629,ZZZZ,small_airport,Satsuma I≈çjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima-Mura,no,RJX7,NaN,RJX7,NaN,http://wikimapia.org/6705190/Satsuma-Iwo-jima-...,"SATSUMA,IWOJIMA,RJX7"
57130,329884,00A00AA,heliportsmall_airport,Total Rf HeliportAero B Ranch Airport,78.774823,-176.407512,3446.0,NaN,USUS,US-PAUS-KS,BensalemLeoti,nono,00A00AA,NaN,00A00AA,NaN,NaN,NaN