In [ ]:
# Pandas Series, DataFrame

In [5]:
import path
import pprint

import numpy as np
import pandas as pd

dataset_path = r"D:\datasets\csv"
dataset_name = r"airports.csv"
dataset = dataset_path + "\\" + dataset_name
print(dataset)

D:\datasets\csv\airports.csv

In [15]:
df = pd.read_csv(dataset)
df.head(5)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [10]:
df.columns

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords'],
      dtype='object')

In [45]:
print(df.shape)
print(df.ndim)
print(df.dtypes)

(57130, 18)
2
id                     int64
ident                 object
type                  object
name                  object
latitude_deg         float64
longitude_deg        float64
elevation_ft         float64
continent             object
iso_country           object
iso_region            object
municipality          object
scheduled_service     object
gps_code              object
iata_code             object
local_code            object
home_link             object
wikipedia_link        object
keywords              object
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57130 entries, 0 to 57129
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 57130 non-null  int64
 1   ident              57130 non-null  object
 2   type               57130 non-null  object
 3   name               57130 non-null  object
 4   latitude_deg       57130 non-null  float64
 5   longitude_deg      57130 non-null  float64
 6   elevation_ft       49320 non-null  float64
 7   continent          28710 non-null  object
 8   iso_country        56884 non-null  object
 9   iso_region         57130 non-null  object
 10  municipality       51246 non-null  object
 11  scheduled_service  57130 non-null  object
 12  gps_code           41322 non-null  object
 13  iata_code          9229 non-null   object
 14  local_code         29559 non-null  object
 15  home_link          3100 non-null   object
 16  wikipedia_link     10029 non-null  object
 17  keywords           10504 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 7.8+ MB

In [50]:
df.describe()

                  id  latitude_deg  longitude_deg  elevation_ft
count   57130.000000  57130.000000   57130.000000  49320.000000
mean    92701.573744     25.696515     -34.598165   1251.924818
std    127196.235995     27.219547      80.003492   1611.666233
min         2.000000    -90.000000    -179.876999  -1266.000000
25%     14410.250000      8.133008     -92.082676    207.000000
50%     28835.500000     36.292601     -71.559849    722.000000
75%     45727.750000     43.783300      14.661181   1510.000000
max    335222.000000     90.000000     179.975700  22000.000000

# Indexing
### indexing With only integer

In [ ]:
df.iloc[100:105, :]

### indexing With integer or string

In [43]:
df.loc[100:105, "ident":"name"]

    ident           type                            name
100  01NE  small_airport                  Detour Airport
101  01NH  small_airport                  Moore Airfield
102  01NJ       heliport  Albert Guido Memorial Heliport
103  01NM  small_airport          Champion Ranch Airport
104  01NV  small_airport           Lantana Ranch Airport
105  01NY         closed        Vassar Hospital Heliport

### indexing With integer