#Other operations
missing data, stats, ...

In [2]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])

dates = pd.date_range('20130101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.628975 -0.050539  0.740319 -0.405434
2013-01-02 -1.139188  1.982379 -0.155121 -0.133637
2013-01-03  1.694619 -0.246373 -0.774335 -0.571744
2013-01-04  2.212809 -0.753112  1.207536  0.317436
2013-01-05 -0.450386 -2.333118  0.630317  1.601351
2013-01-06 -0.077718 -0.459914  1.083592 -0.014645

In [3]:
df2 = pd.DataFrame({'A': 1.,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'})

### Missing data

In [5]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C         D    E
2013-01-01  0.628975 -0.050539  0.740319 -0.405434  1.0
2013-01-02 -1.139188  1.982379 -0.155121 -0.133637  1.0
2013-01-03  1.694619 -0.246373 -0.774335 -0.571744  NaN
2013-01-04  2.212809 -0.753112  1.207536  0.317436  NaN

In [6]:
df1.dropna(how='any')

                   A         B         C         D    E
2013-01-01  0.628975 -0.050539  0.740319 -0.405434  1.0
2013-01-02 -1.139188  1.982379 -0.155121 -0.133637  1.0

In [7]:
df1.fillna(value=5)

                   A         B         C         D    E
2013-01-01  0.628975 -0.050539  0.740319 -0.405434  1.0
2013-01-02 -1.139188  1.982379 -0.155121 -0.133637  1.0
2013-01-03  1.694619 -0.246373 -0.774335 -0.571744  5.0
2013-01-04  2.212809 -0.753112  1.207536  0.317436  5.0

In [8]:
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

### Stats

In [9]:
df1.describe()

              A         B         C         D    E
count  4.000000  4.000000  4.000000  4.000000  2.0
mean   0.849304  0.233089  0.254600 -0.198345  1.0
std    1.480580  1.203182  0.888930  0.388386  0.0
min   -1.139188 -0.753112 -0.774335 -0.571744  1.0
25%    0.186934 -0.373058 -0.309925 -0.447012  1.0
50%    1.161797 -0.148456  0.292599 -0.269536  1.0
75%    1.824166  0.457691  0.857123 -0.020869  1.0
max    2.212809  1.982379  1.207536  0.317436  1.0

In [12]:
df1.sum()  # default axis=0

A    3.397214
B    0.932355
C    1.018398
D   -0.793380
E    2.000000
dtype: float64

In [13]:
df1.sum(axis=1)

2013-01-01    1.913321
2013-01-02    1.554433
2013-01-03    0.102166
2013-01-04    2.984668
Freq: D, dtype: float64

In [14]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [16]:
df

                   A         B         C         D
2013-01-01  0.628975 -0.050539  0.740319 -0.405434
2013-01-02 -1.139188  1.982379 -0.155121 -0.133637
2013-01-03  1.694619 -0.246373 -0.774335 -0.571744
2013-01-04  2.212809 -0.753112  1.207536  0.317436
2013-01-05 -0.450386 -2.333118  0.630317  1.601351
2013-01-06 -0.077718 -0.459914  1.083592 -0.014645

In [ ]:
df.sub(s, axis='index')  # subtract from dataframe or series

### Histogramming

In [23]:
s = pd.Series(np.random.randint(0, 7, size=10))
s.value_counts()

3    3
0    3
5    2
4    2
dtype: int64

### String process

In [24]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge
Concat, Join

Concat

In [26]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.633722 -0.231319 -0.962862  1.158949
1  1.013141  1.218017  0.103905 -3.599998
2 -0.768008 -2.520732 -0.283218  0.214540
3 -0.062998  0.628587 -1.603904 -1.940352
4  0.929307  2.208476 -1.528970  0.396325
5 -0.409758  1.321448  0.118690 -1.355096
6 -0.692140  1.142976  1.049110 -0.702224
7 -0.307296  0.777030  0.869808  1.631430
8  1.134492  0.525172 -0.268441  0.896173
9  1.610214  0.824158  0.877043  0.888239

In [29]:
pieces = [df[:3], df[3:5], df[5:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -1.633722 -0.231319 -0.962862  1.158949
1  1.013141  1.218017  0.103905 -3.599998
2 -0.768008 -2.520732 -0.283218  0.214540
3 -0.062998  0.628587 -1.603904 -1.940352
4  0.929307  2.208476 -1.528970  0.396325
5 -0.409758  1.321448  0.118690 -1.355096
6 -0.692140  1.142976  1.049110 -0.702224
7 -0.307296  0.777030  0.869808  1.631430
8  1.134492  0.525172 -0.268441  0.896173
9  1.610214  0.824158  0.877043  0.888239

### Join

#### same classes

In [33]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [34]:
right

   key  rval
0  foo     4
1  foo     5

In [35]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

#### different classes

In [37]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5