#Other operations
missing data, stats, ...

In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])

dates = pd.date_range('20130101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.192492  0.782311 -0.656356 -1.347261
2013-01-02 -0.487991 -0.589433 -0.006504  0.948134
2013-01-03 -0.744085  0.683805 -1.959567 -0.105162
2013-01-04 -0.411687  0.287063  2.095196 -0.824538
2013-01-05 -0.535974 -0.186675 -0.089672 -0.624866
2013-01-06 -0.747192 -1.138818  0.235261  1.270349

In [2]:
df2 = pd.DataFrame({'A': 1.,
    'B': pd.Timestamp('20130102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'})

### Missing data

In [3]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C         D    E
2013-01-01  0.192492  0.782311 -0.656356 -1.347261  1.0
2013-01-02 -0.487991 -0.589433 -0.006504  0.948134  1.0
2013-01-03 -0.744085  0.683805 -1.959567 -0.105162  NaN
2013-01-04 -0.411687  0.287063  2.095196 -0.824538  NaN

In [4]:
df1.dropna(how='any')

                   A         B         C         D    E
2013-01-01  0.192492  0.782311 -0.656356 -1.347261  1.0
2013-01-02 -0.487991 -0.589433 -0.006504  0.948134  1.0

In [5]:
df1.fillna(value=5)

                   A         B         C         D    E
2013-01-01  0.192492  0.782311 -0.656356 -1.347261  1.0
2013-01-02 -0.487991 -0.589433 -0.006504  0.948134  1.0
2013-01-03 -0.744085  0.683805 -1.959567 -0.105162  5.0
2013-01-04 -0.411687  0.287063  2.095196 -0.824538  5.0

In [6]:
pd.isna(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

### Stats

In [7]:
df1.describe()

              A         B         C         D    E
count  4.000000  4.000000  4.000000  4.000000  2.0
mean  -0.362818  0.290937 -0.131808 -0.332207  1.0
std    0.396565  0.624729  1.692247  0.993906  0.0
min   -0.744085 -0.589433 -1.959567 -1.347261  1.0
25%   -0.552014  0.067939 -0.982159 -0.955219  1.0
50%   -0.449839  0.485434 -0.331430 -0.464850  1.0
75%   -0.260643  0.708432  0.518921  0.158162  1.0
max    0.192492  0.782311  2.095196  0.948134  1.0

In [8]:
df1.sum()  # default axis=0

A   -1.451271
B    1.163747
C   -0.527231
D   -1.328827
E    2.000000
dtype: float64

In [9]:
df1.sum(axis=1)

2013-01-01   -0.028814
2013-01-02    0.864207
2013-01-03   -2.125009
2013-01-04    1.146034
Freq: D, dtype: float64

In [10]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [11]:
df

                   A         B         C         D
2013-01-01  0.192492  0.782311 -0.656356 -1.347261
2013-01-02 -0.487991 -0.589433 -0.006504  0.948134
2013-01-03 -0.744085  0.683805 -1.959567 -0.105162
2013-01-04 -0.411687  0.287063  2.095196 -0.824538
2013-01-05 -0.535974 -0.186675 -0.089672 -0.624866
2013-01-06 -0.747192 -1.138818  0.235261  1.270349

In [12]:
df.sub(s, axis='index')  # subtract from dataframe or series

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -1.744085 -0.316195 -2.959567 -1.105162
2013-01-04 -3.411687 -2.712937 -0.904804 -3.824538
2013-01-05 -5.535974 -5.186675 -5.089672 -5.624866
2013-01-06       NaN       NaN       NaN       NaN

### Histogramming

In [13]:
s = pd.Series(np.random.randint(0, 7, size=10))
s.value_counts()

3    3
2    3
6    2
4    1
1    1
dtype: int64

### String process

In [14]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge
Concat, Join

Concat

In [15]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.739361 -1.183455 -0.830282  0.465511
1 -0.444618 -0.555233 -0.789665  0.431568
2  0.776180  1.654755  0.137806  0.662546
3 -2.577830  0.480233  0.293903  0.113758
4  1.796194 -0.871041 -0.000092 -0.544037
5 -1.005655  1.374552 -0.328367  0.245400
6  0.372950  0.540508 -0.175295  0.175693
7  0.354650  1.965219 -0.944251 -0.521355
8 -0.796655 -0.165564 -0.464842  0.357475
9 -0.302273 -0.153914  1.199929 -1.258697

In [16]:
pieces = [df[:3], df[3:5], df[5:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  0.739361 -1.183455 -0.830282  0.465511
1 -0.444618 -0.555233 -0.789665  0.431568
2  0.776180  1.654755  0.137806  0.662546
3 -2.577830  0.480233  0.293903  0.113758
4  1.796194 -0.871041 -0.000092 -0.544037
5 -1.005655  1.374552 -0.328367  0.245400
6  0.372950  0.540508 -0.175295  0.175693
7  0.354650  1.965219 -0.944251 -0.521355
8 -0.796655 -0.165564 -0.464842  0.357475
9 -0.302273 -0.153914  1.199929 -1.258697

### Join

#### same classes

In [17]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [18]:
right

   key  rval
0  foo     4
1  foo     5

In [19]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

#### different classes

In [20]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Pivot

In [21]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.812447 -1.052964
1     one  B  foo  0.457942 -0.380581
2     two  C  foo -2.087350 -0.296278
3   three  A  bar  1.410269  2.171441
4     one  B  bar  0.036615 -0.715103
5     one  C  bar -2.718444 -0.440383
6     two  A  foo  0.184387  0.469266
7   three  B  foo  0.072171  1.252972
8     one  C  foo  1.721399  0.125247
9     one  A  bar -1.026184  0.107234
10    two  B  bar -1.009379 -1.553672
11  three  C  bar -1.369740  0.937126

Show in different representation.
- rows are 'A' and 'B'
- columns are 'C'. Classify values with 'C' column classes.
- values are 'D'

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

### Time series

In [25]:
rng = pd.date_range('1/1/2020', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

2020-01-01    23438
Freq: 5T, dtype: int32

Time zone representation

In [28]:
rng = pd.date_range('3/6/2020 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2020-03-06   -0.284506
2020-03-07    0.873858
2020-03-08   -1.110051
2020-03-09    1.171921
2020-03-10    0.030161
Freq: D, dtype: float64

In [29]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2020-03-06 00:00:00+00:00   -0.284506
2020-03-07 00:00:00+00:00    0.873858
2020-03-08 00:00:00+00:00   -1.110051
2020-03-09 00:00:00+00:00    1.171921
2020-03-10 00:00:00+00:00    0.030161
Freq: D, dtype: float64

In [31]:
ts_utc.tz_convert('US/Eastern')

2020-03-05 19:00:00-05:00   -0.284506
2020-03-06 19:00:00-05:00    0.873858
2020-03-07 19:00:00-05:00   -1.110051
2020-03-08 20:00:00-04:00    1.171921
2020-03-09 20:00:00-04:00    0.030161
Freq: D, dtype: float64

In [36]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ps = ts.to_period()
ps.to_timestamp()

2012-01-01    0.086778
2012-02-01   -1.636604
2012-03-01    1.096156
2012-04-01    1.427311
2012-05-01   -1.481899
Freq: MS, dtype: float64

Converting between period and timestamp

In [38]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-NOV]', freq='Q-NOV')

In [39]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

1990-03-01 09:00   -0.292554
1990-06-01 09:00   -0.908586
1990-09-01 09:00    0.468738
1990-12-01 09:00   -1.363665
1991-03-01 09:00    0.272863
Freq: H, dtype: float64

### Categoricals

In [40]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [43]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [45]:
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (3, object): [very good, good, very bad]

second way, creates a new pandas series by default.

In [46]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium",
                                              "good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

Sorting is per order in the categories, not lexical order.

In [47]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

Grouping by a categorical column also shows empty categories

In [50]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64